Screenshot 2025-09-10 121830.png
notesworddoctest.doc
RAGChatBotGUI.png
.ipynb_checkpoints/LocalLLMDevelopment-checkpoint.ipynb
LocalLLMDevelopment.ipynb
chrome_langchain_db/chroma.sqlite3
chrome_langchain_db/6106e2b9-7284-4273-870c-0a4d346bb6c6/data_level0.bin
chrome_langchain_db/6106e2b9-7284-4273-870c-0a4d346bb6c6/header.bin
chrome_langchain_db/6106e2b9-7284-4273-870c-0a4d346bb6c6/length.bin
chrome_langchain_db/6106e2b9-7284-4273-870c-0a4d346bb6c6/link_lists.bin
Notes.csv
__pycache__/CreateDatabase.cpython-310.pyc
*.docx
*.txt
